################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PizzaSolution/FileContentIndex/db663816-4444-4805-8884-a5c8dc11f3dc.vsidx
.vs/
